h3 {
  font-size: 2vw;
  color: #f2aa4cff;
}

/* About Page CSS */
.aboutContainer {
  margin: 17em 0 0 0;
  display: flex;
  flex-direction: row;
}

#self {
  display: block;
  margin: 0em 0 0em 11em;
  border: 5px double white;
  border-radius: 50px 15px;
}

#aboutCol {
  flex-direction: column;
  margin: 0 11vw;
}

#nameSpace {
  margin: 1vw 0;
}