h3 {
  font-size: 2vw;
  color: #f2aa4cff;
}

/* Home Page CSS */
#hand {
  position: absolute;
  right: 10vw;
  bottom: 0;
  width: 50%;
}

#flair {
  display: block;
  background-color: #f2aa4cff;
  position: absolute;
  width: 20%;
  text-align: center;
  border-radius: 0 50px 50px 0;
  left: 0;
  padding: 0 2vw 0 11vw;
}

/* Contact Page CSS */
.socials {
  border: 5px double white;
  background: rgb(255, 255, 255, 0.1);
  border-radius: 50px 15px;
  margin: 0vw 3.5vw 3.5vw 3.5vw;
  padding: 1vw 4vw 4vw 5vw;
  float: left;
}

.contactContainer {
  margin: 14em 0 0 0;
}

.mediaLinks {
  text-align: left;
  color: black;
  padding: 0;
  margin: 0vw;
}

.submission {
  text-align: center;
  float: left;
  border: 5px double white;
  border-radius: 50px;
  background: rgb(255, 255, 255, 0.1);
  padding: 11vw 9vw 10vw 9vw;
  margin: 5vw 5vw 7vw 9vw;
  width: 30%;
}

/* About Page CSS */
.aboutContainer {
  margin: 17em 0 0 0;
  display: flex;
  flex-direction: row;
}

#self {
  display: block;
  margin: 0em 0 0em 11em;
  border: 5px double white;
  border-radius: 50px 15px;
}

#aboutCol {
  flex-direction: column;
  margin: 0 11vw;
}

#nameSpace {
  margin: 1vw 0;
}