h3 {
  font-size: 2vw;
  color: #f2aa4cff;
}

/* Nav Bar CSS */
.container {
  display: flex;
  flex-direction: row;
  padding: 0 10vw;
  align-items: center;
}

.header {
  padding: 1em 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.home {
  background-color: #f2aa4cff;
  width: 4vw;
  height: 4vw;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 1em;
  border-radius: 50%;
}

.navigation {
  position: absolute;
  margin: 0 10vw;
  right: 0;
}

.menuItem {
  padding: 0 40px 0 0;
}

.logo {
  padding: auto;
  margin: auto;
  width: 100%;
  height: auto;
}

/* Home Page CSS */
.name {
  display: block;
  position: relative;
  width: 34%;
  left: 8vw;
  top: 6vw;
  margin-bottom: 9vw;
  text-transform: uppercase;
}

#hand {
  position: absolute;
  right: 10vw;
  bottom: 0;
  width: 50%;
}

#fire {
  position: absolute;
  right: 10vw;
  bottom: 0;
  width: 50%;
}

#flair {
  display: block;
  background-color: #f2aa4cff;
  position: absolute;
  width: 20%;
  text-align: center;
  border-radius: 0 50px 50px 0;
  left: 0;
  padding: 0 2vw 0 11vw;
  margin: 4em 0 0 0;
}

#slide {
  animation-name: slide;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 6s;
  animation-timing-function: ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.burn {
  animation-name: burn;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-timing-gunction: ease-out;
}

@keyframes burn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Art Page CSS */
.artContainer {
  margin: 14em 0 0 0;
}

.gif {
  display: block;
  margin: 0vw auto 0vw auto;
  width: 1200px; /* width of container */
  height: 600px; /* height of container */
  object-fit: cover;
  position: center;
}

#gif2 {
  display: block;
  object-fit: cover;
  position: center;
  width: 65%;
  margin: 7vw auto 7vw auto;
}

.square {
  width: 35%;
  border: 2px solid black;
  margin: 3vw 6.75vw 3vw 6.75vw;
}

.rectangle {
  width: 40%;
  border: 2px solid black;
  margin: 3vw 4.5vw 3vw 4.5vw;
}

/* Contact Page CSS */
.socials {
  border: 5px double #f2aa4cff;
  background: rgb(255, 255, 255, 0.1);
  border-radius: 50px 15px;
  margin: 0vw 3.5vw 3.5vw 10em;
  padding: 1vw 4vw 4vw 4vw;
  float: left;
}

.contactContainer {
  margin: 14em 0 0 0;
}

.mediaLinks {
  text-align: center;
  margin: 3vw 0 1vw 0;
  font-size: 1.5vw;
}

.submission {
  text-align: center;
  float: left;
  border: 5px double #f2aa4cff;
  border-radius: 50px;
  background: rgb(255, 255, 255, 0.1);
  padding: 4vw 4vw 4vw 4vw;
  margin: 3vw 5vw 7vw 9vw;
  width: 30%;
}

#contactForm {
  display: flex;
  flex-direction: column;
}

input {
  background-color: rgb(16, 24, 32, 0.5);
  width: 100%;
  border: 3px solid black;
  border-radius: 15px;
  margin: 0 auto 2em auto;
  padding: 1em 0em 1em .5em;
  color: white;
}

textarea {
  background-color: rgb(16, 24, 32, 0.5);
  border: 3px solid black;
  border-radius: 15px;
  width: 100%;
  height: 9em;
  margin: 0 auto 2em auto;
  padding: 1em 0em 1em .5em;
  color: white;
  resize: none;
}

input[type=submit] {
  font-family: hobo-std, sans-serif;
  background-color: rgb(16, 24, 32, 0.5);
  color: #f2aa4cff;
  font-size: 1.5em;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 20%;
}

input.invalid, textarea.invalid{
	border: 2px solid red;
}

/* About Page CSS */
.aboutContainer {
  margin: 13em 0 0 0;
  display: flex;
  flex-direction: row;
}

#self {
  display: block;
  margin: 0em 10em 0em 9em;
  width: 150%;
  height: auto;
}

#self2 {
  border: 5px double #f2aa4cff;
  border-radius: 50px 15px;
  width: 150%;
  height: auto;
}

#aboutCol {
  flex-direction: column;
  margin: 0 11vw;
}

#nameSpace {
  margin: 1vw 0;
}

/* Code Page CSS */
.codeContainer {
  margin: 14em 9em 0 9em;
  display: flex;
  flex-direction: row;
}

.example {
  flex-direction: column;
  border: 5px double #f2aa4cff;
  border-radius: 15px 50px;
  background: rgb(255, 255, 255, 0.1);
  padding: 1em 4em 2em 4em;
  margin: 0 0 0 5em;
}

.exp {
  flex-direction: column;
  border: 5px double #f2aa4cff;
  border-radius: 50px 15px;
  background: rgb(255, 255, 255, 0.1);
  width: 55%;
  padding: 1em 4em 2em 4em;
}

.expWords p{
  font-size: 1.25vw; 
}

.codeLinks {
  font-size: 1.25vw;
  margin: 0 0 1em 0;
}

#codeEx {
  margin: 1em 0 2em 0;
}

#codecamp {
  text-align: center;
  font-size: 1vw;
  margin: 5em auto 0 auto;
}