h3 {
  font-size: 2vw;
  color: #f2aa4cff;
}

/* Contact Page CSS */
.socials {
  border: 5px double white;
  background: rgb(255, 255, 255, 0.1);
  border-radius: 50px 15px;
  margin: 0vw 3.5vw 3.5vw 3.5vw;
  padding: 2vw 4vw 5vw 5vw;
  float: left;
}

.contactContainer {
  margin: 14em 0 0 0;
}

.mediaLinks {
  text-align: left;
  color: black;
  padding: 0;
  margin: 0vw;
}

.submission {
  text-align: center;
  float: left;
  border: 5px double white;
  border-radius: 50px;
  background: rgb(255, 255, 255, 0.1);
  padding: 11vw 9vw 10vw 9vw;
  margin: 5vw 9vw 7vw 9vw;
  width: 25%;
}

/* About Page CSS */
.aboutContainer {
  border: 2px solid white;
  margin: 14em 5em 0 5em;
  display: flex;
  flex-direction: row;
}

#self {
  width: 145%;
  object-fit: cover;
}

#aboutCol {
  flex-direction: column;
  margin: 3em 11em;
}