/* CSS files add styling rules to your content */

header {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

body {
  font-family: hobo-std, sans-serif;
  margin: 2em;
  background-color: #101820FF;
}

h1 {
  color: #f2aa4cff;
}

.home {
  background-color: #f2aa4cff;
  width: 100px;
  height: 100px;
  text-align: center;
  position: relative;
  margin: 0 0 0 5em;
  padding: 1em;
  border: 2px solid black;
  border-radius: 50%;
}

.logo {
  padding: auto;
  margin: auto;
  width: 70%;
  height: auto;
}

.name {
  display: block;
  text-align: center;
  position: relative;
}