/* CSS files add styling rules to your content */

.header {
    width: 100%;
    
    position: fixed;
    z-index: 30;
    top: 0;
    
    display: flex;
    -webkit-box-align: center;
    
    align-items: center;
}

body {
  font-family: hobo-std, sans-serif;
  margin: 2em;
  background-color: #101820FF;
}

h1 {
  color: #f2aa4cff;
}

@media (max-width: 1620px)
  .container-fluid {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

@media (min-width: 23em)
  .header {
    height: 11.0625rem;
}

.home {
  background-color: #f2aa4cff;
  width: 100px;
  height: 100px;
  text-align: center;
  position: relative;
  margin: 0 1vw;
  padding: 1vw;
  border: 2px solid white;
  border-radius: 50%;
}

.logo {
  padding: auto;
  margin: auto;
  width: 70%;
  height: auto;
}

.name {
  display: block;
  text-align: center;
  position: relative;
}