h3 {
  font-size: 1.5vw;
  color: #f2aa4cff;
}

/* Nav Bar CSS */
.container {
  display: flex;
  flex-direction: row;
  padding: 0 10vw;
  align-items: center;
}

.header {
  padding: 1em 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.home {
  background-color: #f2aa4cff;
  width: 5vw;
  height: 5vw;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 1em;
  border-radius: 50%;
}

.navigation {
  position: absolute;
  margin: 0 10vw;
  right: 0;
}
//////////////////////////////////////////

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
///////////////////////////////////////
.menuItem {
  padding: 0 40px 0 0;
  font-size: .85vw;
}

#menuItem2 {
  font-size: .85vw;
}

.logo {
  padding: auto;
  margin: auto;
  width: 100%;
  height: auto;
}

/* Home Page CSS */
.name {
  display: block;
  position: relative;
  width: 34%;
  left: 8vw;
  top: 6vw;
  margin-bottom: 9vw;
  text-transform: uppercase;
}

#hand {
  position: absolute;
  right: 15vw;
  bottom: 0;
  width: 45%;
}

#flair {
  display: block;
  background-color: #f2aa4cff;
  position: absolute;
  width: 20%;
  text-align: center;
  border-radius: 0 50px 50px 0;
  left: 0;
  padding: 0 2vw 0 11vw;
}

/* About Page CSS */
.aboutContainer {
  margin: 13em 0 0 0;
  display: flex;
  flex-direction: row;
}

#self {
  display: block;
  margin: 0em 7em 0em 9em;
  width: 140%;
  height: auto;
}

#self2 {
  border: 5px double white;
  border-radius: 50px 15px;
  width: 140%;
  height: auto;
}

#aboutCol {
  flex-direction: column;
  margin: 0 11vw;
}

#nameSpace {
  margin: 1vw 0;
}

/* Contact Page CSS */
.socials {
  border: 5px double white;
  background: rgb(255, 255, 255, 0.1);
  border-radius: 50px 15px;
  margin: 0vw 3.5vw 3.5vw 7vw;
  padding: 1vw 4vw 4vw 4vw;
  float: left;
}

.contactContainer {
  margin: 14vw 0 0 0;
}

.mediaLinks {
  text-align: center;
  margin: 2vw 0 0vw 0;
  font-size: 1vw;
}

.submission {
  text-align: center;
  float: left;
  border: 5px double white;
  border-radius: 50px;
  background: rgb(255, 255, 255, 0.1);
  padding: 11vw 9vw 10vw 9vw;
  margin: 1vw 5vw 7vw 9vw;
  width: 30%;
}